### load csv

In [2]:
import numpy as np
import pandas as pd
diabetes = pd.read_csv('02-TensorFlow-Basics/pima-indians-diabetes.csv')
diabetes.head()

,Number_pregnant,Glucose_concentration,Blood_pressure,Triceps,Insulin,BMI,Pedigree,Age,Class,Group
0,6,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,50,1,B
1,1,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,31,0,C
2,8,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,32,1,B
3,1,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,21,0,B
4,0,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,33,1,C

In [3]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 10 columns):
Number_pregnant          768 non-null int64
Glucose_concentration    768 non-null float64
Blood_pressure           768 non-null float64
Triceps                  768 non-null float64
Insulin                  768 non-null float64
BMI                      768 non-null float64
Pedigree                 768 non-null float64
Age                      768 non-null int64
Class                    768 non-null int64
Group                    768 non-null object
dtypes: float64(6), int64(3), object(1)
memory usage: 60.1+ KB

### group

In [4]:
groups = diabetes.groupby('Group').groups
for g in groups:
    print(g)

A
B
C
D

### normalize

In [5]:
col = list(diabetes.drop('Group',axis=1).columns)
diabetes[col] = diabetes[col].apply(lambda x: (x - x.min()) / (x.max()-x.min()))
diabetes[col].head()

,Number_pregnant,Glucose_concentration,Blood_pressure,Triceps,Insulin,BMI,Pedigree,Age,Class
0,0.352941,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,0.483333,1.0
1,0.058824,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,0.166667,0.0
2,0.470588,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,0.183333,1.0
3,0.058824,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,0.000000,0.0
4,0.000000,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,0.200000,1.0

### Find all groups name

In [6]:
groups = diabetes.groupby('Group').groups
for g in groups:
    print(g)

A
B
C
D

### Group Values [Display values of all groups]

In [7]:
diabetes['Class'].unique()

array([ 1.,  0.])

### Drop Column

In [6]:
diabetes.drop('Group',axis=1).head()

,Number_pregnant,Glucose_concentration,Blood_pressure,Triceps,Insulin,BMI,Pedigree,Age,Class
0,0.352941,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,0.483333,1.0
1,0.058824,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,0.166667,0.0
2,0.470588,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,0.183333,1.0
3,0.058824,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,0.000000,0.0
4,0.000000,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,0.200000,1.0

### Describe()

In [8]:
diabetes.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Number_pregnant,768.0,0.226180,0.198210,0.0,0.058824,0.176471,0.352941,1.0
Glucose_concentration,768.0,0.607510,0.160666,0.0,0.497487,0.587940,0.704774,1.0
Blood_pressure,768.0,0.566438,0.158654,0.0,0.508197,0.590164,0.655738,1.0
Triceps,768.0,0.207439,0.161134,0.0,0.000000,0.232323,0.323232,1.0
Insulin,768.0,0.094326,0.136222,0.0,0.000000,0.036052,0.150414,1.0
BMI,768.0,0.476790,0.117499,0.0,0.406855,0.476900,0.545455,1.0
Pedigree,768.0,0.168179,0.141473,0.0,0.070773,0.125747,0.234095,1.0
Age,768.0,0.204015,0.196004,0.0,0.050000,0.133333,0.333333,1.0
Class,768.0,0.348958,0.476951,0.0,0.000000,0.000000,1.000000,1.0

### DataFrame()

In [12]:
data = pd.DataFrame(
    data=np.random.randint(0,101,(50,4)),
    columns=['f1','f2','f3','label']
)
data.head()

   f1  f2  f3  label
0   9  46  25     30
1  11  45  99     61
2   6  82  31     71
3  38  76  60     64
4  78  83  25     90